.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-block: 24px 40px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-color: rgba(229, 230, 232, 1);

  pointer-events: none;
  opacity: 0;

  @include paddingInl;

  @include tablet {
    padding-top: 36px;
  }


  &:target {
    opacity: 1;
    pointer-events: all;
  }
}

