.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-block: 24px 40px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-color: $color-white;

  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100px);

  @include padding-inl;

  @include tablet {
    padding-top: 36px;
  }

  &:target {
    opacity: 1;
    transition: 0.5s;
    transform: translateX(0);
    pointer-events: all;
  }
}
