.footer {
  &-img {
    height: 200px;
    width: 100%;
    display: block;
    object-position: center;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 460px;
    }
  }

  .about-us {
    @include grid-container;

    column-gap: 24px;

    &__title {
      margin-block: 48px 24px;
      grid-column: span 2;

      @include title-style;

      @include tablet {
        grid-column: span 3;
      }

      @include desktop {
        grid-column: span 6;
      }
    }

    &__info {
      margin: 0;
      grid-column: span 2;

      @include style-info;

      @include tablet {
        grid-column: span 3;
        margin-top: 56px;
      }

      @include desktop {
        grid-column: span 6;
      }
    }
  }

  .contact-us {
    @include grid-container;

    &__title {
      grid-column: 1/-1;
      margin-block: 104px 48px;

      @include title-style;

      @include tablet {
        margin-block: 120px 56px;
      }
    }

    &-form {
      display: grid;
      grid-column: 1 / -1;
      width: 100%;

      @include desktop {
        grid-column: span 5;
      }

      .item-button {
        height: 56px;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 16px;
        line-height: 27px;
        font-weight: 700;
        margin-top: 30px;
        border-radius: 8px;
        background-color: $color-black;
        color: $color-white;

        @include desktop {
          margin-bottom: 120px;
        }

        &:hover {
          background-color: $color-grey;
          color: $color-black;
          border: 2px solid rgba(240, 241, 244, 1);
        }
      }
    }

    &__item {
      display: block;
      display: grid;
      margin-bottom: 16px;

      .item-message {
        resize: none;
        height: 148px;
      }

      .item-input,
      .item-message {
        padding: 14px 16px;
        background-color: $color-grey;
        border-radius: 8px;
        font-family: 'Space Mono', sans-serif;
        font-size: 14px;
        line-height: 140%;
        border: none;

        &:hover {
          border: 1px solid rgba(213, 215, 222, 1);
        }
      }
    }

    &-info {
      margin-block: 48px 64px;
      grid-column: 1/-1;

      @include tablet {
        margin-block: 80px 120px;
      }

      @include desktop {
        grid-column: 7/-1;
        margin-block: 0 240px;
      }
    }

    &__name {
      margin-block: 0 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: rgba(147, 147, 163, 1);
    }

    &__info {
      margin-block: 0 24px;
      font-family: 'Space Mono', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: rgba(25, 25, 25, 1);
    }
  }
}
