.header {
  padding-block: 24px 40px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include padding-inl;

  @include tablet {
    padding-block: 36px 65px;
  }

  @include desktop {
    padding-block: 36px 92px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @include tablet {
      gap: 32;
    }
  }

  &__number {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $color-black;
    white-space: nowrap;
    opacity: 0;
    right: 40px;
    position: absolute;
    pointer-events: none;
  }

  &__bot {
    max-width: 280px;

    @include tablet {
      max-width: 392px;
    }

    @include desktop {
      max-width: 498px;
    }

    .header__title {
      margin: 0;
      font-size: 36px;
      line-height: 100%;

      @include tablet {
        font-size: 48px;
      }

      @include desktop {
        font-size: 56px;
      }
    }
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
