.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;

  @include hover-zoom;

  @include tablet {
    height: 32px;
    width: 32px;
  }
}

.icon--phone {
  display: flex;
  align-items: center;
  background-image: url(../images/Icon-Phone-call.png);

  &:hover .header__number {
    opacity: 1;
  }
}

.icon--menu {
  background-image: url(../images/Icon-Burger-menu.png);

  &:hover {
    background-image: url(../images/Icon-Burger-menu-hover.png);
  }
}

.icon--close {
  background-image: url(../images/Icon-Close.png);
}

.logo--img {
  height: 16px;
  display: flex;

  @include hover-zoom;

  @include tablet {
    height: 24px;
  }
}
