@import 'variables';
@import './utils/mixins';
@import 'icon';
@import 'header';
@import 'nav';
@import 'aside';
@import 'recommended';
@import 'category';
@import 'footer';

.page {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  scroll-behavior: smooth;
}

.body-page {
  margin: 0;
}

.is-locked {
  overflow: hidden;
}

.menu {
  height: 100vh;
  overflow: auto;
}
