.recommended {
  @include grid-container;

  row-gap: 40px;

  @include tablet {
    row-gap: 56px;
  }

  @include desktop {
    column-gap: 24px;
  }

  &__title {
    @include title-style;

    margin-block: 64px 8px;
    grid-column: span 2;

    @include tablet {
      margin-block: 120px 0;
      grid-column: span 5;
    }

    @include desktop {
      grid-column: span 12;
    }
  }

  &__product {
    grid-column: span 2;

    @include tablet {
      grid-column: span 6;
      row-gap: 56px;
    }

    @include desktop {
      grid-column: span 4;
    }

    &-name {
      margin-block: 24px 8px;
      font-size: 18px;
    }

    &-title {
      margin: 0;

      @include style-info;
    }

    &-price {
      margin-block: 12px 0;
      font-size: 16px;
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 4px;

    @include hover-zoom;
  }
}
